---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>

{% assign sorted_publications = site.publications | sort: "order" | reverse %}

{% for category in site.publication_category %}
  {% assign category_publications = sorted_publications | where: "category", category[0] %}
  {% if category_publications.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    <hr />
    <ul>
      {% for publication in category_publications %}
        <li>
          <p>
            <strong>{{ publication.title }}</strong><br />
            {{ publication.authors }}<br />
            <em>{{ publication.venue }}</em>, {{ publication.year }}<br />
            {{ publication.role }}{% if publication.code %}; {{ publication.code }}{% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
